{{> menu active="about"}}

<section class="section">
  <div class="container">
    <h1 class="title is-3">About PlaceMark</h1>

    <div class="content">
      <p>
        PlaceMark is a simple web application that allows users to organise and manage their favourite places.
      </p>
      <p>
        Users can create categories and store placemarks with useful information about each location.
      </p>
    </div>
  </div>
</section>