{{#if errors}}
  <div class="notification is-danger">
    <button class="delete"></button>
    <strong>There was a problem with your submission:</strong>

    <ul>
      {{#each errors}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}