<a class="navbar-item">
  <span class="icon has-text-link">
    <i class="fas fa-map-marker-alt fa-lg"></i>
  </span>

  <span class="ml-2 has-text-weight-bold is-size-4">
    PlaceMark
  </span>
</a>